<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keyword %>">
  <meta name="author" content="<%= author %>">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- open graph -->
  <meta property="og:locale" content="ja_JP">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= og_image_url %>">

  <!-- twitter-card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= twc_site %>">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= twc_image_url %>">

  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
